@use "../base/variables" as v;
@use "../base/mixins" as m;


.vista__home {

    &--portada {
        background-image: url('../../../public/img/portada.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 16rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    &--contenido {
        height: 100%;

        display: flex;
        flex-direction: column;
    }
}

.contenedor__cards {
    padding: 5rem  3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    @include m.desktop {
        padding: 2rem  3rem;
        flex-direction: row;
       flex-wrap: wrap;
    }
    .card-opcRapida {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        width: 30rem;
        height: 9rem;
        transition: all 0.3s ease; /* Agregamos una transición para suavizar el efecto */

        &:hover {
            transform: scale(1.05); /* Escalamos ligeramente la tarjeta en hover */
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Agregamos una sombra */
        }

        &__img {
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        &__texto {
            color: v.$azulTexto;
            text-align: right;
            
            h4 {
                color: v.$azulTexto;
                font-size: 2rem;
                font-weight: v.$delgada;
                span {
                    font-weight: v.$bold;
                }
            }

            p {
                text-align: right;
                font-size: 1.2rem;
                color: v.$negro;
                font-weight: v.$delgada;
            }
        }
    }
}

.azul{
    background-color: v.$azulClaro;
}

.naranja{
    background-color: v.$naranja;
}
.verde{
    background-color: v.$verdeClaro;
}

.morado{
    background-color: v.$morado;
}

.contenedor__tablas{
    border: solid 1px blue;
    height: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   

    @include m.desktop {
        
        display: grid;
        grid-template-columns: repeat(2, 50% 50%);
    }


    &--principal{
        border: solid 1px rgb(118, 172, 2);
        
       
    }
    &--secundaria{
        border: solid 1px rgb(255, 0, 140);
       
        
    }
}