@import "resources/css/base/_variables.scss";
@import "resources/css/base/_mixins.scss" ;
.contenedor{
 
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1;

    // media query
    @include tablet(){
        grid-template-columns: repeat(2, 50% 50%);
    }

    @include desktop(){
        grid-template-columns: repeat(2, 35% 65%);
    }
    
    &__form{
       
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(2, 10% 90%);
    }

    &__img{
        
        background-image: url('../../../public/img/img-login-tablet.png');
        background-size: cover;
        margin: 1rem;
        background-repeat: no-repeat;
        background-position: right center;
        border-radius: 2rem;

        @include desktop{
            background-image: url('../../../public/img/img-login.png');
            background-size: cover;
        }
        }
        
    }


.logo-login{
    padding: 2rem 5rem; 
}

.formulario-login {
    padding: 5rem; 
    h1{
        font-size: 4rem;
        margin: 0;
    }
    p{
        color: $gris;
    }
}
