@use "../base/variables" as v;
@use "../base/mixins" as m;

.tabla{
   
    &__header{
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        background-color: v.$azul;
        height: 5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0rem 2rem;

        p{
            font-weight: v.$delgada;
            color: v.$blanco;

            span{
                
                font-weight: v.$bold;
            }

            a{
                color: v.$azulTexto;
            }
        }
    }

   


}


.tabla__body {
    /* Estilos para el contenedor de la tabla */

   
        width: 100%;
        overflow-x: auto; /* Activar scroll horizontal si la tabla sobrepasa el ancho */
        overflow-y: hidden; /* Ocultar scroll vertical */
  

    th {
        font-size: 1.8rem;
    }

    td {
        font-size: 1.6rem;
        padding: 1rem 0;
    }

    a {
        font-size: 1.6rem;
    }
}
